<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <link rel="icon" href="./img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>This site was created by Paulo Leite. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="./img/paulo.jpg" width="400px">
    </div>

    {{>footer}}

</body>

</html>