<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Help Page</title>
    <meta charset="UTF-8">
    <link rel="icon" href="./img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        pagina help
    </div>

    {{>footer}}
</body>

</html>